{% extends 'base.html' %}
{% load paginate_tags %}

{% block title %}网签日志{% endblock %}
{% block mainer %}
    <style type="text/css">

    </style>

    <div class="layui-form">
        <div class="layui-form-item">

            <div class="layui-inline">
                <label class="layui-form-label">启始时间</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="start" placeholder="yyyy-MM-dd HH:mm:ss" lay-key="6">
                </div>
            </div>


            <div class="layui-inline">
                <label class="layui-form-label">结束时间</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="end" placeholder="yyyy-MM-dd HH:mm:ss" lay-key="7">
                </div>
            </div>


            <div class="layui-inline">
                <label class="layui-form-label">筛选关键字</label>
                <div class="layui-input-block">
                    <input type="text" name="title" id="key_words" lay-verify="title" autocomplete="off"
                           placeholder="请输入关键字"
                           class="layui-input">
                </div>
            </div>


            <div class="layui-inline">
                <button class="layui-btn layui-btn-normal" id="search">筛选</button>

            </div>


        </div>

    </div>



    <div class="body-div">


        <div class="border" id="log_container">
            {% for item in items %}
                <p>{{ item.log }}</p>
            {% endfor %}
        </div>


        {% paginate_tag data %}
        {% include 'pagination.html' %}


    </div>

{% endblock %}

{% block script %}


    <script>

        laydate.render({
            elem: '#start'
            , type: 'datetime'
        });


        laydate.render({
            elem: '#end'
            , type: 'datetime'
        });


        $('#search').click(function () {

            var start = $('#start').val()
            var end = $('#end').val()
            var key_words = $('#key_words').val()


            var url = '/collector/wq/?start=' + start + '&end=' + end + '&key_words=' + key_words
            location.href = url;


            console.log('sdsd', start, end, key_words)

        })


        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return ''
        }


        $('.page').click(function () {
            var page = $(this).html()

            var start = getQueryString('start');
            var end = getQueryString('end');
            var key_words = getQueryString('key_words');
            location.href = '/collector/wq/?page=' + page + '&start=' + start + '&end=' + end + '&key_words=' + key_words

        })

    </script>
{% endblock script %}